/* RESET 

  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* variabili css, COLORI */
:root {
  --dark-blue: #202733;
  --neon-green: #53ffaa;
  --light-cyan: #cee3e9;
}

body {
  background: var(--dark-blue);
}

h1 {
  color: var(--neon-green);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

/* uso il flex per gestire il layout dell'h2 */
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--light-cyan);
  font-size: 22px;
  margin-bottom: 20px;
}
