.card {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background-color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  padding: 15px;
  gap: 20px;
}

.card > img {
  margin-top: 16px;
  margin-bottom: 16px;
}

.button {
  border: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, +50%);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--neon-green);
  background-position: center;
}
.button:hover {
  box-shadow: 0 0 20px var(--neon-green);
  background-color: var(--neon-green);
}
