/*style container principale*/

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  padding: 16px;
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
}

/*style container di sinistra*/

.div1 {
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 1px solid red;
  padding: 16px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
}

/*style input container sinistra*/

.div1 input {
  text-align: center;
  padding: 12px 0px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
}

/*style input quando utilizzato*/

.div1 input:focus {
  border-color: #4caf50;
  outline: none;
}

/*style placeholder input*/

.div1 input::placeholder {
  color: #aaa;
  font-style: italic;
}

/*style container di destra*/

.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 1px solid red;
  padding: 16px;
  width: 55%;
  justify-content: center;
  border-radius: 12px;
}

/*style container con counter*/

.div3 {
  position: absolute;
  transform: translate(0, -200%);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid red;
  padding: 16px;
  width: 33%;
  display: flex;
  flex-direction: row;
  height: 50px;
  border-radius: 12px;
}

/*style container contentente il bottone reset*/

.buttondiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}

/*style bottone reset*/

.buttondiv button {
  color: white;
  background-color: #4caf50;
  width: 50px;
  height: 100%;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/*style bottone reset active*/

button:hover {
  background-color: #45a049;
}
