/* variabili globali */

* {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  /*colori*/
  --dark-grey-: rgb(58, 57, 57);
  --coral-: rgb(255, 127, 80);
  --grey-: rgb(199, 197, 197);
  --light-grey-: #c5c5c5;
  --white-: #fff;
  --light-green-: #04c90efb;
  --dark-green-: #18a705;
  --red-: #ff4d4d;
  --red-99-: #ff1a1a;
}
