/* variabili globali */

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  /*colori*/
  --dark-grey-: rgb(58, 57, 57);
  --coral-: rgb(255, 127, 80);
  --grey-: rgb(199, 197, 197);
  --light-grey-: rgb(197, 197, 197);
  --white-: rgb(255, 255, 255);
  --light-green-: rgb(4, 201, 14);
  --dark-green-: rgb(24, 167, 5);
  --red-: rgb(255, 77, 77);
  --red-99-: rgb(255, 26, 26);
}
