.lightBox {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: var(--white);
}

.thumbnailList {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.thumbnailList > li {
  list-style: none;
}
