.container {
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid coral;
  border-radius: 16px;
  gap: 12px;
}

.lista {
  border: 1px solid coral;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

h3 {
  border: 1px solid red;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
