/*STILE CONTAINER PRINCIPALE*/

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  border: 1px solid black;
  width: 90%;
  height: 1000px;
  gap: 10px;
}

/*STILE CONTAINER CON INPUT E BOTTONE GET TODO*/

.filterBar {
  border-radius: 8px;
  align-items: center;
  padding: 12px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 74px;
  gap: 30px;
}

/*STILE CONTAINER CARD*/

.card {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: space-between;
  text-align: start;
}

/*STILE CONTAINER CON LE TODO COMPLETATE*/

.list1 {
  border-radius: 8px;
  border: 1px solid black;
  height: 300px;
}

/*STILE TESTO E BOTTONE COMPLETED*/

.section1 {
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

/*STILE CONTAINER CON TODO NON COMPLETATE*/

.list2 {
  border-radius: 8px;
  border: 1px solid black;
  height: 300px;
}

/*STILE TESTO E BOTTONE NOTCOMPLETED*/

.section2 {
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

/*STILE CONTAINER CON BOTTONE RESERT*/

.reset {
  border-radius: 8px;
  margin-top: 10px;
  height: 50px;
}

/*STILE BOTTONE RESET*/

.reset button {
  width: 100%;
  background-color: red;
}

/*STILE UL TODO COMPLETATE */

.Completed {
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  overflow: scroll;
  display: none;
  height: 200px;
}

/*STILE UL TODO NON COMPLETATE*/

.NotCompleted {
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  overflow: scroll;
  height: 200px;
  display: none;
}

/*STILE LISTE DOPO IL CLICK DEI PULSATI COMPLETED/NON COMPLETED*/

.hidden {
  border-radius: 8px;
  display: flex;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  overflow: scroll;
  height: 200px;
}

/*STILE ELEMENTI GLOBALI*/

ul {
  border-radius: 8px;
  text-align: start;
  list-style: decimal-leading-zero;
  color: black;
  background-color: lightblue;
}

/*STILE BOTTONI GLOBALI*/

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: backgroud-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/*STILE INPUT GLOBALE*/

input {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px 0 #4caf50;
}
