.counter {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.counter button {
  all: unset;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

conter div {
  text-align: center;
}
