.header {
  border: 1px solid red;
  width: 100%;
  padding: 16px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.header button {
  all: unset;
  padding: 8px;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}
