@tailwind base;
@tailwind components;
@tailwind utilities;

/*regole universali del container ROOT*/

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
